* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header, footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 4rem;
}

header {
    width: 22rem;
    background: salmon;
}

.search-fields, .criterion-searches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-fields {
    margin-top: 0.5rem;
}

.dropdown {
    margin-top: 0.7rem;
}