header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}