body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
}

header,
footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 4rem;
  width: 100%;
}

header {
  background-color: salmon;
  font-size: 2.5rem;
}

main {
  flex-grow: 1;
}

footer {
  background-color: lightblue;
}

.search-fields,
.criterion-searches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-fields {
  margin-top: 0.5rem;
}

.dropdown {
  margin-top: 0.7rem;
}

.selected {
    background-color: rgb(159, 243, 235);
    color: black;
}

.selected:hover, .selected:focus {
    background-color: rgb(138, 233, 233);
    color: black;
}

#results {
  display: flex;
  margin: 1rem auto 1rem auto;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

article.pokemon {
  width: 15rem;
  height: 12.5rem;
  padding: 2rem 1rem 2rem 1rem;
  margin: 1rem;
  border: 2px solid #000;
}

.card-body {
    padding-top: 0;
}

.img-container {
  height: 100px;
}

.pk-img {
    max-height: 100%;
    width: auto;
}
